* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body {
    min-height: 100vh;
    background: linear-gradient(
        -135deg,
        rgb(240, 136, 217),#87aee9
    );
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    background-color:rgba(255,255,255,0.20) ;
    padding: 4em 3em;
   border-radius: 2.5em;
}
.titel{
    font-size: 3em;
}
hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}
.timer {
    font-size: 10em;
    font-weight: 700;
}
.button-wrapper{
    display: flex;
    gap: 1em;
}
button{
    font-size: 2em ;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color:rgba(255,255,255,0.50) ;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    transform: translateY(-10px);
    background-color:rgba(139, 214, 243, 0.541) ;
}
