<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">

  <div class="navbar-start">
    <div class="navbar-item">
      @if (isAdmin()) {
      <span class="tag is-warning">Admin</span>
      }
    </div>

    @if (!isLoggedIn()) {
    <div class="navbar-item">
      <div class="buttons">
        <a class="button" routerLink="/login">Log in</a>
      </div>
    </div>
    }

    @if (isLoggedIn()) {
    <div class="navbar-item">
      <div class="buttons">
        <a class="button" (click)="logout()">Logout</a>
      </div>
    </div>
    }
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/roadmap">Roadmap</a>
      <a class="navbar-item" routerLink="/hub">Learning Hub</a>
      <a class="navbar-item" routerLink="/about">Team</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Study Tools</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/calendar">Kalender</a>
          <a class="navbar-item" routerLink="/timer">Timer</a>
          <a class="navbar-item" routerLink="/habitTracker">Habit Tracker</a>
          <hr class="navbar-divider">
          <a class="navbar-item">Report an issue</a>
        </div>
      </div>

      @if (isAdmin()) {
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Admin</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/userlist">Userlist</a>
        </div>
      </div>
      }

    </div>
  </div>

</nav>
