<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">

<div class="container">
  <div class="placeholder"></div>

  <div class="card">
    <div class="img img1"></div>
    <span class="name">Minh</span>
    <div class="textbox">
      <strong>Full Stack Developer</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

  <div class="card">
    <div class="img img2"></div>
    <span class="name">Jenny</span>
    <div class="textbox">
      <strong>UI/UX Designer</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

  <div class="card">
    <div class="img img3"></div>
    <span class="name">Matthias</span>
    <div class="textbox">
      <strong>Backend Developer</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

  <div class="card">
    <div class="img img4"></div>
    <span class="name">Timo</span>
    <div class="textbox">
      <strong>Mobile Developer</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

  <div class="card">
    <div class="img img5"></div>
    <span class="name">Kajetan</span>
    <div class="textbox">
      <strong>DevOps Engineer</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

</div>
